@model E_Library.Models.Emprunts

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Emprunts</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date_emprunt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_emprunt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.statut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_retour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_retour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Livres.titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Livres.titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Membres.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Membres.nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_emprunt }) |
    @Html.ActionLink("Back to List", "Index")
</p>
