@model E_Library.Models.Membres

@{
    ViewBag.Title = "Ajouter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gestion des membres</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Nouveau Membre</h4>
        <hr />
        @Html.ValidationSummary(true)
        
        <div class="form-group">
            @Html.LabelFor(model => model.code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.code)
                @Html.ValidationMessageFor(model => model.code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nom, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nom)
                @Html.ValidationMessageFor(model => model.nom)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.prenom, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.prenom)
                @Html.ValidationMessageFor(model => model.prenom)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.date_naissance, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.date_naissance)
                @Html.ValidationMessageFor(model => model.date_naissance)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sexe, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sexe)
                @Html.ValidationMessageFor(model => model.sexe)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tel)
                @Html.ValidationMessageFor(model => model.tel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.courriel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.courriel)
                @Html.ValidationMessageFor(model => model.courriel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Id_adresse, "Adresse", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Id_adresse", String.Empty)
                @Html.ValidationMessageFor(model => model.Id_adresse)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ajouter" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour à la Liste", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
