@model E_Library.Models.Membres

@{
    ViewBag.Title = "Modifier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gestion des membres</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Modifier un Membre</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id_membre)

        <div class="form-group">
            @Html.LabelFor(model => model.nom, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nom)
                @Html.ValidationMessageFor(model => model.nom)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.prenom, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.prenom)
                @Html.ValidationMessageFor(model => model.prenom)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.date_naissance, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.date_naissance)
                @Html.ValidationMessageFor(model => model.date_naissance)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sexe, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sexe)
                @Html.ValidationMessageFor(model => model.sexe)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tel)
                @Html.ValidationMessageFor(model => model.tel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.courriel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.courriel)
                @Html.ValidationMessageFor(model => model.courriel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.code)
                @Html.ValidationMessageFor(model => model.code)
            </div>
        </div>


        <!--Ajout champs adresse-->

        <div class="form-group">
            @Html.LabelFor(model => model.Adresses.num_civique, "Numéro", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Adresses.num_civique)
                @Html.ValidationMessageFor(model => model.Adresses.num_civique)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Adresses.rue, "Rue", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Adresses.rue)
                @Html.ValidationMessageFor(model => model.Adresses.rue)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Adresses.app, "App", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Adresses.app)
                @Html.ValidationMessageFor(model => model.Adresses.app)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Adresses.ville, "Ville", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Adresses.ville)
                @Html.ValidationMessageFor(model => model.Adresses.ville)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Adresses.code_postal, "Code postal", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Adresses.code_postal)
                @Html.ValidationMessageFor(model => model.Adresses.code_postal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Adresses.province, "Province", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Adresses.province)
                @Html.ValidationMessageFor(model => model.Adresses.province)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enregistrer" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour à la Liste", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
